/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[13].use[5]!./src/css/app.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-dark-gray: #333;
  --color-light-gray: #ccc;
  --base: 24px;
  --gutter-h: 180px;
  --breakpoint-m: $breakpoint-m-width;
  --breakpoint-l: $breakpoint-l-width;
  --font-body: system-ui;
}
@media (max-width: 1200px) {
  :root {
    --gutter-h: 75px;
  }
}
@media (max-width: 768px) {
  :root {
    --gutter-h: 24px;
    --base: 16px;
  }
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  background: white;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  color: var(--color-dark-gray);
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 32px;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
}

a {
  color: inherit;
}
a:focus {
  outline: none;
}
a:active {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/components/Gutter/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Gutter_gutterLeft__R5zIQ {
  padding-left: var(--gutter-h);
}

.Gutter_gutterRight__2DcUk {
  padding-right: var(--gutter-h);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/components/AdminBar/index.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AdminBar_adminBar__oeu6z {
  z-index: 10;
  width: 100%;
  background-color: var(--color-dark-gray);
  color: white;
  padding: calc(var(--base) * 0.25) 0;
  display: none;
}

.AdminBar_show__aWIsZ {
  display: block;
}

.AdminBar_controls__rGeos > *:not(:last-child) {
  margin-right: calc(var(--base) * 0.5) !important;
}

.AdminBar_user___KgIz {
  margin-right: calc(var(--base) * 0.5) !important;
}

.AdminBar_logo__UD5IR {
  margin-right: calc(var(--base) * 0.5) !important;
}

.AdminBar_innerLogo___51iH {
  width: 100%;
}

.AdminBar_container__C2Qcw {
  position: relative;
}

.AdminBar_hr__vf8aS {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-light-gray);
  height: 2px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/components/Button/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__Tpz3i {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
}

.Button_content__xkrLK {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Button_content__xkrLK svg {
  margin-right: calc(var(--base) / 2);
  width: var(--base);
  height: var(--base);
}

.Button_label__Ki9Se {
  text-align: center;
  display: flex;
  align-items: center;
}

.Button_button__Tpz3i {
  text-decoration: none;
  display: inline-flex;
  padding: 12px 24px;
}

.Button_primary--white__br55C {
  background-color: black;
  color: white;
}

.Button_primary--black__4uFQC {
  background-color: white;
  color: black;
}

.Button_secondary--white__z1s33 {
  background-color: white;
  box-shadow: inset 0 0 0 1px black;
}

.Button_secondary--black__bKhfe {
  background-color: black;
  box-shadow: inset 0 0 0 1px white;
}

.Button_appearance--default___jSU1 {
  padding: 0;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/components/Header/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__vtMaK {
  padding: var(--base) 0;
}

.Header_wrap__Rl0C_ {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--base) / 2);
  flex-wrap: wrap;
}

.Header_logo__Ejfo_ {
  flex-shrink: 0;
}

.Header_nav__JUu1D {
  display: flex;
  align-items: center;
  gap: var(--base);
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
}
.Header_nav__JUu1D a {
  display: block;
  text-decoration: none;
}
@media (max-width: 768px) {
  .Header_nav__JUu1D {
    gap: 0 calc(var(--base) / 2);
  }
}
